.header{
    font-size: 30px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-bottom: 2px solid black;
    @media (min-width: 720px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media (min-width: 940px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.navigation{ 
    &__list{
        display: flex;
        justify-content: center;
    }
    &__item{
        margin-right: 30px;
        @media (min-width: 940px) {
            margin-right: 100px;
        }
        
        &:last-child{
            margin: 0;
        }
    }
    &__link{
    color: $text-color;
    font-size: 14px;
    text-transform: uppercase;
    &:hover,
    &:focus{
    color: $axent;
    }
    }
}